@page "/administrate_shifts"
@using New2ndSemester.Shared
@using New2ndSemester.Client.Services
@inject IShiftService _shiftService
@inject NavigationManager _navigationManager

<h1>Administrer Vagter</h1>

<button @onclick="NewShift" class="btn btn-primary">Opret ny vagt</button>
@* <button class="btn btn-primary mx-2">Opret ny lokalitet</button> *@

<hr />

<p>
    @if (_eshifts.Count > 0)
    {
        <h3 class="mb-3">Tilgængelige vagter</h3>
        <div class="row row-cols-auto">
            @foreach (var eshift in _eshifts)
            {
                <div class="col py-2">
                    <ShiftCard buttonType="edit" eshift="eshift" />
                </div>
            }
        </div>
    }
</p>

@code {
    
    private List<ExtendedShift> _eshifts = new ();
    private List<Location> _locations = new ();

    protected override async void OnInitialized()
    {
        _eshifts.AddRange(await _shiftService.GetAllShifts());
        StateHasChanged();
    }

    private async Task NewShift()
    {
        var newShift = new Shift
        {
            description = "",
            required_volunteers = 1,
            start = DateTime.Now,
            stop = DateTime.Now,
            location_id = 3,
            title = ""
        };

        newShift = (await _shiftService.SetShift(newShift)).shift;
        
        _navigationManager.NavigateTo("/shift/"+newShift.id);
    }
}
