@page "/{user_id:int}/home"
@using New2ndSemester.Client.Services
@using New2ndSemester.Shared
@inject IUserService _userService
@inject HttpClient _http

<PageTitle>Index</PageTitle>
@if (_user != null)
{
    <div>
        <h1>Velkommen @_user.full_name!</h1>
        <p>
            Welcome to your new app.
        </p>
        <h2>Tilmeldte vagter</h2>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public int user_id { get; set; }
    
    private User? _user;

    protected override async void OnInitialized()
    {
        _user = await _http.GetFromJsonAsync<User>("api/user/" + user_id);
        StateHasChanged();
    }

}
