/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-ktk32dqewf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ktk32dqewf] {
    flex: 1;
}

.sidebar[b-ktk32dqewf] {
    background-image: linear-gradient(140deg, rgb(38, 46, 60) 0%, #0e111c 80%);
}

.top-row[b-ktk32dqewf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-ktk32dqewf]  a, .top-row[b-ktk32dqewf]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-ktk32dqewf]  a:hover, .top-row[b-ktk32dqewf]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-ktk32dqewf]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ktk32dqewf] {
        display: none;
    }

    .top-row.auth[b-ktk32dqewf] {
        justify-content: space-between;
    }

    .top-row[b-ktk32dqewf]  a, .top-row[b-ktk32dqewf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ktk32dqewf] {
        flex-direction: row;
    }

    .sidebar[b-ktk32dqewf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ktk32dqewf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ktk32dqewf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ktk32dqewf], article[b-ktk32dqewf] {
        padding-left: 2rem;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-4l3o5vx7ox] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-4l3o5vx7ox] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.2);
}

.navbar-brand[b-4l3o5vx7ox] {
    font-size: 1.1rem;
}

.oi[b-4l3o5vx7ox] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-4l3o5vx7ox] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-4l3o5vx7ox] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-4l3o5vx7ox] {
    padding-bottom: 1rem;
}

.nav-item[b-4l3o5vx7ox]  a {
    color: #d7d7d7;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
    
}

.nav-item[b-4l3o5vx7ox]  a.active {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-item[b-4l3o5vx7ox]  a:hover {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-4l3o5vx7ox] {
        display: none;
    }
    
    .collapse[b-4l3o5vx7ox] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
