@inherits LayoutComponentBase

<div class="pag1baselinespane">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <Header />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
