@using New2ndSemester.Shared
@using New2ndSemester.Client.Services
@inject IUserService _userService
@inject NavigationManager _navigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Epson Vagtsystem</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (_sessionUser == null)
        {
            <div class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Log ind
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="register">
                    <span class="oi oi-plus" aria-hidden="true"></span> Opret bruger
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item">
                <NavLink class="nav-link" href=@("/"+_sessionUser.id+"/shifts")>
                    <span class="oi oi-calendar" aria-hidden="true"></span> Din vagtoversigt
                </NavLink>
            </div>
            @if (_canAdministrateShifts)
            {
                <div class="nav-item">
                    <NavLink class="nav-link" href=@("/administrate_shifts")>
                        <span class="oi oi-wrench" aria-hidden="true"></span> Administrer vagter
                    </NavLink>
                </div>
            }
            <div class="nav-item">
                <NavLink class="nav-link" href="coworkers">
                    <span class="oi oi-people" aria-hidden="true"></span> Medarbejdere
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href=@("/"+_sessionUser.id+"/profile")>
                    <span class="oi oi-person" aria-hidden="true"></span> Din profil
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" @onclick="LogOut">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log ud
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private User? _sessionUser;
    private bool _canAdministrateShifts;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void LogOut()
    {
        await _userService.RemoveSessionUser();
        StateHasChanged();
        _navigationManager.NavigateTo("/");
    }

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        _navigationManager.LocationChanged += (object _, LocationChangedEventArgs _) => UpdateSidebar();
        UpdateSidebar();
    }

    private async void UpdateSidebar()
    {
        _sessionUser = await _userService.GetSessionUser();
        if (_sessionUser != null){
            _canAdministrateShifts = await _userService.SessionUserHasRole("Admin") ||
                                     await _userService.SessionUserHasRole("Frivilligkoordinator");
        }

        StateHasChanged();
    }
}
