.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 4rem;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar-brand {
    font-size: 1.2rem;
}

.oi {
    width: 2rem;
    font-size: 1rem;
    vertical-align: text-top;
    top: 0.5px;
}

.nav-item {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}


.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
    
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
