.page[b-ktk32dqewf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ktk32dqewf] {
    flex: 1;
}

.sidebar[b-ktk32dqewf] {
    background-image: linear-gradient(140deg, rgb(38, 46, 60) 0%, #0e111c 80%);
}

.top-row[b-ktk32dqewf] {
    /*background-color: rgba(0,0,0,0.05);*/
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-ktk32dqewf]  a, .top-row[b-ktk32dqewf]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-ktk32dqewf]  a:hover, .top-row[b-ktk32dqewf]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-ktk32dqewf]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ktk32dqewf] {
        display: none;
    }

    .top-row.auth[b-ktk32dqewf] {
        justify-content: space-between;
    }

    .top-row[b-ktk32dqewf]  a, .top-row[b-ktk32dqewf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ktk32dqewf] {
        flex-direction: row;
    }

    .sidebar[b-ktk32dqewf] {
        width: 260px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ktk32dqewf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-ktk32dqewf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-ktk32dqewf], article[b-ktk32dqewf] {
        padding-left: 2rem;
        padding-right: 1.5rem !important;
    }
}
